.title {
	font-size: 2rem;
	text-align: center;
}

.body {
	font-size: 1.5rem;
	letter-spacing: 1px;
	font-weight: 300;
	padding: 3rem 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.link {
	font-size: 1rem;
	color: #0079eb;
	border: 1px solid #0079eb;
	padding: 5px 35px;
	border-radius: 5px;
}

.link:hover {
	font-size: 1rem;
	color: #fff;
	background-color: #0079eb;
}
